<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
	
	<appSettings>
		<add key="m_service" value="Kepware.KEPServerEX.V6"/>
		<add key="m_IP" value="127.0.0.1"/>
		<add key="m_tags" value="Simulator.Device1.Tag1;Simulator.Device1.TAG2;Simulator.Device1.TAG3"/>
		<add key="m_types" value="bool;int;string"/>
		<add key="writeable" value="true;false;false"/>
		<add key="ip" value="127.0.0.1"/>
		<add key="port" value="23"/>
	</appSettings>
	
</configuration>